<%#debugger %>
<%if params[:standard]%>
  <h1 align="center" style="margin-top: 90px; margin-bottom: 50px"><%="#{Standard.find(params[:standard]).standard.camelize} students" %></h1>
<%else %>
  <h1 align="center" style="margin-top: 90px; margin-bottom: 50px">Students listing page</h1>
<%end %>

<%if  @students.length == 0 %>
  <h2 class="text-center" style="margin-top: 150px; margin-bottom: 100px"> NO STUDENTS ADDED YET....PLEASE CLICK "add student" TO ADD NEW STUDENT </h2>
  <% if params[:standard]%>
    <center>
      <%=link_to 'back', :back, class: "btn btn-outline-dark" %>
      <%=link_to 'add student', new_student_path(standard: params[:standard]), class: "btn btn-outline-success" %>
    </center>
  <%else %>
    <center>
      <%=link_to 'back', :back, class: "btn btn-outline-dark" %>
      <%=link_to 'add student', new_student_path, class: "btn btn-outline-success"%>
    </center>
  <%end %>
<%else %>


  <div class="container">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Id</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Standard</th>
          <th scope="col", colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <%@students.each do |student| %>
          <tr>
            <th scope="row"><%=student.id %></th>
            <td><%=student.first_name.capitalize %></td>
            <td><%=student.last_name.capitalize %></td>
            <td><%=student.standard.standard.camelize %></td>
            <td>
              <%=link_to 'show', student_path(student), class: "btn btn-outline-success"%>
            </td>
            <td>
              <%=link_to 'edit', edit_student_path(student), class: "btn btn-outline-warning"%>
            </td>
            <td>
              <%=link_to 'delete', student_path(student), method: :delete, class: "btn btn-outline-danger", data: {confirm: "Are you sure you want to delete \"#{student.first_name}\" ?"}%>
            </td>
  <!--          <td role="group" aria-label="Basic outlined example">-->
  <!--            <a href=<%#=student_path(student)%> , class="btn btn-outline-success">-->
  <!--              <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Show-->
  <!--            </a>-->
  <!--          </td>-->
  <!--          <td role="group" aria-label="Basic outlined example">-->
  <!--            <a href=<%#=edit_student_path(student)%> , class="btn btn-outline-warning">-->
  <!--              <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> edit-->
  <!--            </a>-->
  <!--          </td>-->
  <!--          <td role="group" aria-label="Basic outlined example">-->
  <!--            <a data-method="delete" href=<%#=student_path(student)%> , class="btn btn-outline-danger">-->
  <!--              <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> delete-->
  <!--            </a>-->
  <!--          </td>-->
          </tr>
        <%end %>
      </tbody>
    </table>
    <div align="right" style="padding-top: 50px">
      <%=link_to 'back', :back, class: "btn btn-outline-dark" %>
      <%=link_to 'add student', new_student_path(standard: params[:standard]), class: "btn btn-outline-success" if params[:standard] %>

    </div>
  </div>
<%end %>
