<h1 align="center">Students listing page</h1>

<div class="container">
  <table class="table">
    <thead>
      <tr class="table-dark">
        <th scope="col">Id</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Standard</th>
        <th scope="col", colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <%@students.each do |student| %>
        <tr>
          <th scope="row"><%=student.id %></th>
          <td><%=student.first_name.capitalize %></td>
          <td><%=student.last_name.capitalize %></td>
          <td><%=student.standard.capitalize %></td>
          <td role="group" aria-label="Basic outlined example">
            <a href=<%=student_path(student)%> , class="btn btn-outline-success">
              <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Show
            </a>
          </td>
          <td role="group" aria-label="Basic outlined example">
            <a href=<%=edit_student_path(student)%> , class="btn btn-outline-warning">
              <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> edit
            </a>
          </td>
        </tr>
      <%end %>
    </tbody>
  </table>
</div>