<h1 align="center", style="margin-bottom: 50px">Student's info</h1>

<div class="container">

  <%#=form_with(scope: :student, url: students_path method: :post, local: true) do |f| %>
  <%=form_with(model: @student, local: true) do |f| %>

    <div class="row mb-3">

      <div class="col-md-6">           <!--first col takes 5 grid-->
        <%=f.label :first_name, class: "col-form-label"%>
        <%=f.text_field :first_name, class: "form-control form-control-lg"%>
      </div>
      <div class="col-md-6">
        <%=f.label :last_name, class: "col-form-label"%>
        <%=f.text_field :last_name, class: "form-control form-control-lg"%>
      </div>
      <div class="col-md-12">
        <%=f.label :address, class: "col-form-label"%>
        <%=f.text_area :address, class: "form-control form-control-lg"%>
      </div>
      <div class="col-md-9">
        <%=f.label :email, class: "col-form-label"%>
        <%=f.text_field :email, class: "form-control form-control-lg"%>
      </div>
      <div class="col-md-3">
        <%=f.label :contact_number, class: "col-form-label"%>
        <%=f.text_field :contact_number, class: "form-control form-control-lg"%>
      </div>
      <div class="col-md-5">
        <%=f.label :mother_name, class: "col-form-label"%>
        <%=f.text_field :mother_name, class: "form-control form-control-lg"%>
      </div>
      <div class="col-md-5">
        <%=f.label :father_name, class: "col-form-label"%>
        <%=f.text_field :father_name, class: "form-control form-control-lg"%>
      </div>
      <div class="col-md-2">
        <%=f.label :date_of_birth, class: "col-form-label"%>
        <%= f.date_field :date_of_birth, class: "form-control form-control-lg"%>
      </div>
      <div class="col-md-6">
        <%=f.label :select_the_class, class: "col-form-label"%>
        <%= f.select :city, ["Berlin", "Chicago", "Madrid"] %>

        <%=f.select :select_the_class, class: "form-select form-select-lg"%>
      </div>
      <div class="col-md-6">
        <%=f.label :select_the_blood_group, class: "col-form-label"%>
        <%=f.text_field :select_the_blood_group, class: "form-control form-control-lg", placeholder: "dropdown"%>
      </div>


      <div align="right">
        <%#=link_to 'submit', students_path, method: :post %>
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
        <%=f.submit %>
      </div>

    </div>







  <%end %>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>














